In [3]:
import pandas as pd

df= pd.read_csv("/Users/dominikmecko/Dropbox (Milk)/Folk/Internship research/estat_urb_percep_en.csv")


df.drop(['DATAFLOW', 'LAST UPDATE', 'freq','unit','OBS_FLAG'],axis=1,inplace=True)

df = df.drop(df[df.TIME_PERIOD != 2015].index)

#df = df.fillna(0)

df.drop(['TIME_PERIOD'],axis=1,inplace=True)

In [4]:
df

      indic_ur   cities  OBS_VALUE
4      PS1012V  AT001C1       72.0
9      PS1012V  AT002C1       39.0
15     PS1012V  BE001C1       19.0
21     PS1012V  BE002C1       24.0
27     PS1012V  BE005C1       14.0
...        ...      ...        ...
73821  PS9392V  UK008C1       73.0
73822  PS9392V  UK008K1       73.0
73823  PS9392V  UK009C1       79.0
73824  PS9392V  UK012C2       79.0
73825  PS9392V  UK013K1       78.0

[17835 rows x 3 columns]

In [6]:
group = df.groupby(['cities','indic_ur'])

In [7]:
df2 = group.apply(lambda x: x['OBS_VALUE'].unique())

In [8]:
df2

cities   indic_ur
AT001C1  PS1012V     [72.0]
         PS1013V     [23.0]
         PS1014V      [3.0]
         PS1015V      [1.0]
         PS1016V      [1.0]
                      ...
UK013K1  PS9340V     [84.0]
         PS9342V     [86.0]
         PS9370V     [87.0]
         PS9382V     [71.0]
         PS9392V     [78.0]
Length: 17835, dtype: object

In [9]:
print(group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f7dcfd404f0>

In [ ]:

df2 = df2.apply(pd.Series)
df2=df2.reset_index()
df2=df2.rename({0: 'value'},axis=1)

df3=df2.pivot(index='cities', columns='indic_ur',values='value')


df3.to_csv("/Users/dominikmecko/Folk Dropbox/Dominik Mecko/Folk/Internship research/USE THIS DATA/exported_data3.csv")