In [1]:
import pandas as pd

In [4]:
folder = "/Users/dominikmecko/Work/Bachelor's Thesis/Data/Pilot"
text_path = "/text1.csv"
numeric_path = "/numeric2.csv"
data_text = pd.read_csv(folder+text_path)
data_num = pd.read_csv(folder+numeric_path)

In [3]:
data_text

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,Time_Set11_First Click,Time_Set11_Last Click,Time_Set11_Page Submit,Time_Set11_Click Count,Set12,Time_Set12_First Click,Time_Set12_Last Click,Time_Set12_Page Submit,Time_Set12_Click Count,Comments
0,Start Date,End Date,Response Type,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Distribution Channel,User Language,...,Timing - First Click,Timing - Last Click,Timing - Page Submit,Timing - Click Count,Ktorý z plánov elektrickej energie by ste si z...,Timing - First Click,Timing - Last Click,Timing - Page Submit,Timing - Click Count,Ďakujem Vám veľmi pekne za vyplnenie prieskumu...
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""distributionChannel""}","{""ImportId"":""userLanguage""}",...,"{""ImportId"":""QID48_FIRST_CLICK""}","{""ImportId"":""QID48_LAST_CLICK""}","{""ImportId"":""QID48_PAGE_SUBMIT""}","{""ImportId"":""QID48_CLICK_COUNT""}","{""ImportId"":""QID49""}","{""ImportId"":""QID50_FIRST_CLICK""}","{""ImportId"":""QID50_LAST_CLICK""}","{""ImportId"":""QID50_PAGE_SUBMIT""}","{""ImportId"":""QID50_CLICK_COUNT""}","{""ImportId"":""QID53_TEXT""}"
2,2022-05-11 11:52:06,2022-05-11 11:58:41,IP Address,100,395,True,2022-05-11 11:58:43,R_3MT1M3RGIptBp7p,anonymous,SK,...,2.101,2.101,4.201,1,KONTRAKT B\n\nMesačný poplatok: €$e{q://QID10/...,11.948,11.948,12.801,1,NaN
3,2022-05-11 11:53:17,2022-05-11 12:03:09,IP Address,100,592,True,2022-05-11 12:18:13,R_1DToeJUVStjMAtO,anonymous,SK,...,11.332,11.332,12.606,1,KONTRAKT B\n\nMesačný poplatok: €$e{q://QID10/...,12.492,12.492,15.232,1,NaN
4,2022-05-11 12:10:49,2022-05-11 12:24:48,IP Address,100,839,True,2022-05-11 12:24:50,R_2BzEib2HRgW3hSU,anonymous,SK,...,4.504,4.504,6.046,1,KONTRAKT A\n\nMesačný poplatok: €$e{q://QID10/...,4.715,4.715,6.572,1,NaN
5,2022-05-12 13:57:09,2022-05-12 14:01:10,IP Address,100,240,True,2022-05-12 14:01:11,R_paVBddl8ds6hOO5,anonymous,SK,...,1.607,1.607,2.273,1,KONTRAKT B\n\nMesačný poplatok: €$e{q://QID10/...,1.471,1.471,5.045,1,NaN
6,2022-05-12 13:55:34,2022-05-12 14:01:20,IP Address,100,345,True,2022-05-12 14:01:22,R_10MnS2PtSYnSXx9,anonymous,SK,...,10.536,10.536,11.779,1,KONTRAKT A\n\nMesačný poplatok: €$e{q://QID10/...,7.405,8.12,9.267,2,NaN
7,2022-05-12 14:10:39,2022-05-12 14:18:42,IP Address,100,482,True,2022-05-12 14:18:44,R_2OT1ukc71EmK2AT,anonymous,SK,...,8.175,8.175,9.061,1,KONTRAKT B\n\nMesačný poplatok: €$e{q://QID10/...,9.579,9.579,10.413,1,NaN

In [5]:
data_num.head()

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,Time_Set11_First Click,Time_Set11_Last Click,Time_Set11_Page Submit,Time_Set11_Click Count,Set12,Time_Set12_First Click,Time_Set12_Last Click,Time_Set12_Page Submit,Time_Set12_Click Count,Comments
0,Start Date,End Date,Response Type,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Distribution Channel,User Language,...,Timing - First Click,Timing - Last Click,Timing - Page Submit,Timing - Click Count,Ktorý z plánov elektrickej energie by ste si z...,Timing - First Click,Timing - Last Click,Timing - Page Submit,Timing - Click Count,Ďakujem Vám veľmi pekne za vyplnenie prieskumu...
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""distributionChannel""}","{""ImportId"":""userLanguage""}",...,"{""ImportId"":""QID48_FIRST_CLICK""}","{""ImportId"":""QID48_LAST_CLICK""}","{""ImportId"":""QID48_PAGE_SUBMIT""}","{""ImportId"":""QID48_CLICK_COUNT""}","{""ImportId"":""QID49""}","{""ImportId"":""QID50_FIRST_CLICK""}","{""ImportId"":""QID50_LAST_CLICK""}","{""ImportId"":""QID50_PAGE_SUBMIT""}","{""ImportId"":""QID50_CLICK_COUNT""}","{""ImportId"":""QID53_TEXT""}"
2,2022-05-11 11:52:06,2022-05-11 11:58:41,0,100,395,1,2022-05-11 11:58:43,R_3MT1M3RGIptBp7p,anonymous,SK,...,2.101,2.101,4.201,1,34,11.948,11.948,12.801,1,NaN
3,2022-05-11 11:53:17,2022-05-11 12:03:09,0,100,592,1,2022-05-11 12:18:13,R_1DToeJUVStjMAtO,anonymous,SK,...,11.332,11.332,12.606,1,34,12.492,12.492,15.232,1,NaN
4,2022-05-11 12:10:49,2022-05-11 12:24:48,0,100,839,1,2022-05-11 12:24:50,R_2BzEib2HRgW3hSU,anonymous,SK,...,4.504,4.504,6.046,1,31,4.715,4.715,6.572,1,NaN

In [6]:
#Data Cleaning
data_num = data_num.drop(index=[0,1],axis=1) #run only once
columns_drop=['StartDate','EndDate','Status','Progress','Finished','RecordedDate','DistributionChannel','UserLanguage','Data Agreement','Comments']
data_num = data_num.drop(columns=columns_drop)

In [7]:
#Columns_rename
columns_rename = {'Task1_1':'Task_temp','Task1_2':'Task_source','Task1_3':'Task_consumption','Task1_4':'Task_appliances'}
data_num.rename(columns=columns_rename, inplace=True)

In [8]:
#Providers & Appliances
providers_count =  data_num['Providers'].str.count('\w+')
data_num.insert(13,'Providers_count', providers_count)
appliances_count = data_num['Appliances'].str.count('\w+')
data_num.insert(15,'Appliance_count',appliances_count)      #count # of providers and appliances

#see if green providers
#data_num['Know_green_provider'] = data_num['Know_green_provider']==1 if ((data_num['Providers'].str.contains('2')  | data_num['Providers'].str.count('7')==1

In [9]:
data_num

,Duration (in seconds),ResponseId,Age,Gender,Income,Energy Consumption,Tariff,payment_1,Region,Household_size,...,Set11,Time_Set11_First Click,Time_Set11_Last Click,Time_Set11_Page Submit,Time_Set11_Click Count,Set12,Time_Set12_First Click,Time_Set12_Last Click,Time_Set12_Page Submit,Time_Set12_Click Count
2,395,R_3MT1M3RGIptBp7p,53,2,5,2,NaN,67,3,3,...,34,2.101,2.101,4.201,1,34,11.948,11.948,12.801,1
3,592,R_1DToeJUVStjMAtO,47,2,4,1,1,47,3,4,...,31,11.332,11.332,12.606,1,34,12.492,12.492,15.232,1
4,839,R_2BzEib2HRgW3hSU,56,1,5,1,1,41,3,4,...,31,4.504,4.504,6.046,1,31,4.715,4.715,6.572,1
5,240,R_paVBddl8ds6hOO5,38,2,3,2,NaN,25,3,1,...,31,1.607,1.607,2.273,1,34,1.471,1.471,5.045,1
6,345,R_10MnS2PtSYnSXx9,23,1,3,2,NaN,38,3,1,...,31,10.536,10.536,11.779,1,31,7.405,8.12,9.267,2
7,482,R_2OT1ukc71EmK2AT,36,2,6,1,4,48,3,4,...,31,8.175,8.175,9.061,1,34,9.579,9.579,10.413,1
8,505,R_RPPPUFPva0I0g6d,23,1,6,2,NaN,50,3,2,...,31,7.407,7.407,11.933,1,34,14.419,14.419,15.136,1
9,1481,R_tRnGvEI06RwLbsB,32,1,5,2,NaN,5,1,2,...,34,13.593,13.593,14.481,1,34,2.284,2.284,2.991,1
10,1182,R_d9V6boP8R1mKdtT,30,1,6,2,NaN,82,3,2,...,31,7.719,8.817,10.946,2,31,11.25,11.91,12.495,2
11,193793,R_3nvFpVCe1qYXVkb,21,1,4,2,NaN,157,2,3,...,31,4.227,4.741,6.748,2,31,4.405,4.405,5.098,1
12,246230,R_ROYtLuakH8DHea5,26,2,3,2,NaN,30,3,2,...,34,4.074,4.074,6.42,1,31,1.351,2.889,4.201,2

In [10]:
#Sets encoding
sets = ['Set1','Set2','Set3','Set4','Set5','Set6','Set7','Set8','Set9','Set10','Set11','Set12']
new_sets = []

for i in sets:
    a = i+"_a"
    b = i+"_b"
    new_sets.append(a)
    new_sets.append(b)

for i in new_sets:
    data_num.insert(len(data_num.columns),i,0)

In [11]:
for column in data_num[sets]:
    data_num.loc[data_num[str(column)]=='31', str(column+"_a")] = 1
    data_num.loc[data_num[str(column)]=='34', str(column+"_b")] = 1

data_num

,Duration (in seconds),ResponseId,Age,Gender,Income,Energy Consumption,Tariff,payment_1,Region,Household_size,...,Set8_a,Set8_b,Set9_a,Set9_b,Set10_a,Set10_b,Set11_a,Set11_b,Set12_a,Set12_b
2,395,R_3MT1M3RGIptBp7p,53,2,5,2,NaN,67,3,3,...,1,0,0,1,1,0,0,1,0,1
3,592,R_1DToeJUVStjMAtO,47,2,4,1,1,47,3,4,...,0,1,0,1,0,1,1,0,0,1
4,839,R_2BzEib2HRgW3hSU,56,1,5,1,1,41,3,4,...,1,0,1,0,1,0,1,0,1,0
5,240,R_paVBddl8ds6hOO5,38,2,3,2,NaN,25,3,1,...,1,0,1,0,1,0,1,0,0,1
6,345,R_10MnS2PtSYnSXx9,23,1,3,2,NaN,38,3,1,...,1,0,0,1,0,1,1,0,1,0
7,482,R_2OT1ukc71EmK2AT,36,2,6,1,4,48,3,4,...,1,0,1,0,0,1,1,0,0,1
8,505,R_RPPPUFPva0I0g6d,23,1,6,2,NaN,50,3,2,...,1,0,0,1,1,0,1,0,0,1
9,1481,R_tRnGvEI06RwLbsB,32,1,5,2,NaN,5,1,2,...,1,0,0,1,0,1,0,1,0,1
10,1182,R_d9V6boP8R1mKdtT,30,1,6,2,NaN,82,3,2,...,0,1,0,1,0,1,1,0,1,0
11,193793,R_3nvFpVCe1qYXVkb,21,1,4,2,NaN,157,2,3,...,1,0,0,1,0,1,1,0,1,0
12,246230,R_ROYtLuakH8DHea5,26,2,3,2,NaN,30,3,2,...,1,0,0,1,0,1,0,1,1,0

In [12]:
analysis_columns = new_sets.copy()
analysis_columns.append('ResponseId')

In [13]:
analysis = data_num[analysis_columns]

In [14]:
df = analysis.pop('ResponseId')
analysis.insert(0,'ResponseId',df)

analysis

,ResponseId,Set1_a,Set1_b,Set2_a,Set2_b,Set3_a,Set3_b,Set4_a,Set4_b,Set5_a,...,Set8_a,Set8_b,Set9_a,Set9_b,Set10_a,Set10_b,Set11_a,Set11_b,Set12_a,Set12_b
2,R_3MT1M3RGIptBp7p,0,1,0,1,0,1,0,1,0,...,1,0,0,1,1,0,0,1,0,1
3,R_1DToeJUVStjMAtO,0,1,0,1,1,0,0,1,0,...,0,1,0,1,0,1,1,0,0,1
4,R_2BzEib2HRgW3hSU,0,1,1,0,0,1,0,1,1,...,1,0,1,0,1,0,1,0,1,0
5,R_paVBddl8ds6hOO5,0,1,1,0,1,0,0,1,1,...,1,0,1,0,1,0,1,0,0,1
6,R_10MnS2PtSYnSXx9,0,1,0,1,1,0,0,1,0,...,1,0,0,1,0,1,1,0,1,0
7,R_2OT1ukc71EmK2AT,1,0,0,1,0,1,0,1,0,...,1,0,1,0,0,1,1,0,0,1
8,R_RPPPUFPva0I0g6d,0,1,0,1,1,0,0,1,0,...,1,0,0,1,1,0,1,0,0,1
9,R_tRnGvEI06RwLbsB,0,1,0,1,1,0,0,1,0,...,1,0,0,1,0,1,0,1,0,1
10,R_d9V6boP8R1mKdtT,0,1,1,0,1,0,0,1,0,...,0,1,0,1,0,1,1,0,1,0
11,R_3nvFpVCe1qYXVkb,0,1,1,0,0,1,0,1,1,...,1,0,0,1,0,1,1,0,1,0
12,R_ROYtLuakH8DHea5,0,1,0,1,1,0,1,0,0,...,1,0,0,1,0,1,0,1,1,0

In [15]:
analysis = analysis.reset_index()
analysis = analysis.set_index('ResponseId')
analysis

,index,Set1_a,Set1_b,Set2_a,Set2_b,Set3_a,Set3_b,Set4_a,Set4_b,Set5_a,...,Set8_a,Set8_b,Set9_a,Set9_b,Set10_a,Set10_b,Set11_a,Set11_b,Set12_a,Set12_b
ResponseId,,,,,,,,,,,,,,,,,,,,,
R_3MT1M3RGIptBp7p,2,0,1,0,1,0,1,0,1,0,...,1,0,0,1,1,0,0,1,0,1
R_1DToeJUVStjMAtO,3,0,1,0,1,1,0,0,1,0,...,0,1,0,1,0,1,1,0,0,1
R_2BzEib2HRgW3hSU,4,0,1,1,0,0,1,0,1,1,...,1,0,1,0,1,0,1,0,1,0
R_paVBddl8ds6hOO5,5,0,1,1,0,1,0,0,1,1,...,1,0,1,0,1,0,1,0,0,1
R_10MnS2PtSYnSXx9,6,0,1,0,1,1,0,0,1,0,...,1,0,0,1,0,1,1,0,1,0
R_2OT1ukc71EmK2AT,7,1,0,0,1,0,1,0,1,0,...,1,0,1,0,0,1,1,0,0,1
R_RPPPUFPva0I0g6d,8,0,1,0,1,1,0,0,1,0,...,1,0,0,1,1,0,1,0,0,1
R_tRnGvEI06RwLbsB,9,0,1,0,1,1,0,0,1,0,...,1,0,0,1,0,1,0,1,0,1
R_d9V6boP8R1mKdtT,10,0,1,1,0,1,0,0,1,0,...,0,1,0,1,0,1,1,0,1,0
R_3nvFpVCe1qYXVkb,11,0,1,1,0,0,1,0,1,1,...,1,0,0,1,0,1,1,0,1,0
R_ROYtLuakH8DHea5,12,0,1,0,1,1,0,1,0,0,...,1,0,0,1,0,1,0,1,1,0

In [16]:
analysis = analysis.drop(columns='index')

In [17]:
analysis1 = analysis.stack()

In [18]:
analysis1.head(25)

ResponseId
R_3MT1M3RGIptBp7p  Set1_a     0
                   Set1_b     1
                   Set2_a     0
                   Set2_b     1
                   Set3_a     0
                   Set3_b     1
                   Set4_a     0
                   Set4_b     1
                   Set5_a     0
                   Set5_b     1
                   Set6_a     0
                   Set6_b     1
                   Set7_a     1
                   Set7_b     0
                   Set8_a     1
                   Set8_b     0
                   Set9_a     0
                   Set9_b     1
                   Set10_a    1
                   Set10_b    0
                   Set11_a    0
                   Set11_b    1
                   Set12_a    0
                   Set12_b    1
R_1DToeJUVStjMAtO  Set1_a     0
dtype: int64

In [19]:
analysis1

ResponseId
R_3MT1M3RGIptBp7p  Set1_a     0
                   Set1_b     1
                   Set2_a     0
                   Set2_b     1
                   Set3_a     0
                             ..
R_ROYtLuakH8DHea5  Set10_b    1
                   Set11_a    0
                   Set11_b    1
                   Set12_a    1
                   Set12_b    0
Length: 264, dtype: int64

In [20]:
headers = ['ResponseId','Gender','Age']
socio = data_num[headers]
socio = socio.reset_index()
socio = socio.drop(columns='index')
#socio = socio.set_index('ResponseId')
socio

           ResponseId Gender Age
0   R_3MT1M3RGIptBp7p      2  53
1   R_1DToeJUVStjMAtO      2  47
2   R_2BzEib2HRgW3hSU      1  56
3   R_paVBddl8ds6hOO5      2  38
4   R_10MnS2PtSYnSXx9      1  23
5   R_2OT1ukc71EmK2AT      2  36
6   R_RPPPUFPva0I0g6d      1  23
7   R_tRnGvEI06RwLbsB      1  32
8   R_d9V6boP8R1mKdtT      1  30
9   R_3nvFpVCe1qYXVkb      1  21
10  R_ROYtLuakH8DHea5      2  26

In [21]:
analysis1

ResponseId
R_3MT1M3RGIptBp7p  Set1_a     0
                   Set1_b     1
                   Set2_a     0
                   Set2_b     1
                   Set3_a     0
                             ..
R_ROYtLuakH8DHea5  Set10_b    1
                   Set11_a    0
                   Set11_b    1
                   Set12_a    1
                   Set12_b    0
Length: 264, dtype: int64

In [22]:
analysis3 = analysis.reset_index()
analysis2 = analysis3.melt(id_vars=['ResponseId'],value_vars=new_sets)

In [23]:
group = analysis2.groupby(['ResponseId','variable'])
df33 = group.apply(lambda x: x['value'].unique())

In [ ]:
df33

In [25]:
analysis2

            ResponseId variable  value
0    R_3MT1M3RGIptBp7p   Set1_a      0
1    R_1DToeJUVStjMAtO   Set1_a      0
2    R_2BzEib2HRgW3hSU   Set1_a      0
3    R_paVBddl8ds6hOO5   Set1_a      0
4    R_10MnS2PtSYnSXx9   Set1_a      0
..                 ...      ...    ...
259  R_RPPPUFPva0I0g6d  Set12_b      1
260  R_tRnGvEI06RwLbsB  Set12_b      1
261  R_d9V6boP8R1mKdtT  Set12_b      0
262  R_3nvFpVCe1qYXVkb  Set12_b      0
263  R_ROYtLuakH8DHea5  Set12_b      0

[264 rows x 3 columns]

In [26]:
#Design Merge
design_file = "/design.csv"
design = pd.read_csv(folder+design_file)
design

,Unnamed: 0,Var11,Var12,Var13,Var21,Var22,Var23,Var24,Var25,Var31,Var41,Var51
0,set1.alt1,1,0,0,-1,-1,-1,-1,-1,-1,-1,-1
1,set1.alt2,0,1,0,0,0,1,0,0,1,1,1
2,set2.alt1,-1,-1,-1,0,1,0,0,0,-1,-1,1
3,set2.alt2,-1,-1,-1,0,0,0,1,0,1,-1,-1
4,set3.alt1,0,0,1,0,0,0,0,1,-1,1,-1
5,set3.alt2,-1,-1,-1,0,0,0,1,0,-1,1,1
6,set4.alt1,-1,-1,-1,1,0,0,0,0,-1,1,-1
7,set4.alt2,-1,-1,-1,0,1,0,0,0,1,-1,1
8,set5.alt1,-1,-1,-1,0,0,1,0,0,-1,-1,-1
9,set5.alt2,-1,-1,-1,0,0,0,0,1,1,1,1
10,set6.alt1,0,0,1,0,0,1,0,0,-1,-1,1
11,set6.alt2,0,1,0,0,1,0,0,0,-1,1,-1
12,set7.alt1,0,1,0,1,0,0,0,0,1,-1,1
13,set7.alt2,0,0,1,0,0,0,1,0,-1,1,-1
14,set8.alt1,0,0,1,0,0,0,1,0,1,1,-1
15,set8.alt2,-1,-1,-1,0,0,0,0,1,-1,1,-1
16,set9.alt1,-1,-1,-1,0,0,0,1,0,-1,1,1
17,set9.alt2,0,1,0,0,0,0,0,1,1,1,-1
18,set10.alt1,0,0,1,0,1,0,0,0,1,-1,-1
19,set10.alt2,1,0,0,-1,-1,-1,-1,-1,-1,1,-1
20,set11.alt1,-1,-1,-1,1,0,0,0,0,-1,1,1
21,set11.alt2,-1,-1,-1,0,0,0,0,1,1,-1,-1
22,set12.alt1,0,0,1,0,1,0,0,0,-1,1,1
23,set12.alt2,-1,-1,-1,0,0,1,0,0,1,1,-1

In [27]:
#Columns renaming All RES", "wind", "solar","hydro","biomass","normal
design_keys = {'Var11':'PriceMin5','Var12':'Price0','Var13':'Price2','Var21':'All RES','Var22':'wind','Var23':'solar','Var24':'hydro','Var25':'biomass','Var31':'Slovak','Var41':'Can Change','Var51':'No change'}
design.rename(columns=design_keys, inplace=True)

In [28]:
#Row rename
design = design.drop(columns='Unnamed: 0')
design['SetID'] = new_sets

In [29]:
#rename column analysis 2
analysis2.rename(columns={'variable':'SetID'},inplace=True)
analysis2

            ResponseId    SetID  value
0    R_3MT1M3RGIptBp7p   Set1_a      0
1    R_1DToeJUVStjMAtO   Set1_a      0
2    R_2BzEib2HRgW3hSU   Set1_a      0
3    R_paVBddl8ds6hOO5   Set1_a      0
4    R_10MnS2PtSYnSXx9   Set1_a      0
..                 ...      ...    ...
259  R_RPPPUFPva0I0g6d  Set12_b      1
260  R_tRnGvEI06RwLbsB  Set12_b      1
261  R_d9V6boP8R1mKdtT  Set12_b      0
262  R_3nvFpVCe1qYXVkb  Set12_b      0
263  R_ROYtLuakH8DHea5  Set12_b      0

[264 rows x 3 columns]

In [30]:
#Merge responses and sets
merged = pd.merge(analysis2, design, on='SetID')
merged

,ResponseId,SetID,value,PriceMin5,Price0,Price2,All RES,wind,solar,hydro,biomass,Slovak,Can Change,No change
0,R_3MT1M3RGIptBp7p,Set1_a,0,1,0,0,-1,-1,-1,-1,-1,-1,-1,-1
1,R_1DToeJUVStjMAtO,Set1_a,0,1,0,0,-1,-1,-1,-1,-1,-1,-1,-1
2,R_2BzEib2HRgW3hSU,Set1_a,0,1,0,0,-1,-1,-1,-1,-1,-1,-1,-1
3,R_paVBddl8ds6hOO5,Set1_a,0,1,0,0,-1,-1,-1,-1,-1,-1,-1,-1
4,R_10MnS2PtSYnSXx9,Set1_a,0,1,0,0,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,R_RPPPUFPva0I0g6d,Set12_b,1,-1,-1,-1,0,0,1,0,0,1,1,-1
260,R_tRnGvEI06RwLbsB,Set12_b,1,-1,-1,-1,0,0,1,0,0,1,1,-1
261,R_d9V6boP8R1mKdtT,Set12_b,0,-1,-1,-1,0,0,1,0,0,1,1,-1
262,R_3nvFpVCe1qYXVkb,Set12_b,0,-1,-1,-1,0,0,1,0,0,1,1,-1
263,R_ROYtLuakH8DHea5,Set12_b,0,-1,-1,-1,0,0,1,0,0,1,1,-1

In [31]:
merged1 = pd.merge(merged, socio, on='ResponseId')
merged1

,ResponseId,SetID,value,PriceMin5,Price0,Price2,All RES,wind,solar,hydro,biomass,Slovak,Can Change,No change,Gender,Age
0,R_3MT1M3RGIptBp7p,Set1_a,0,1,0,0,-1,-1,-1,-1,-1,-1,-1,-1,2,53
1,R_3MT1M3RGIptBp7p,Set1_b,1,0,1,0,0,0,1,0,0,1,1,1,2,53
2,R_3MT1M3RGIptBp7p,Set2_a,0,-1,-1,-1,0,1,0,0,0,-1,-1,1,2,53
3,R_3MT1M3RGIptBp7p,Set2_b,1,-1,-1,-1,0,0,0,1,0,1,-1,-1,2,53
4,R_3MT1M3RGIptBp7p,Set3_a,0,0,0,1,0,0,0,0,1,-1,1,-1,2,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,R_ROYtLuakH8DHea5,Set10_b,1,1,0,0,-1,-1,-1,-1,-1,-1,1,-1,2,26
260,R_ROYtLuakH8DHea5,Set11_a,0,-1,-1,-1,1,0,0,0,0,-1,1,1,2,26
261,R_ROYtLuakH8DHea5,Set11_b,1,-1,-1,-1,0,0,0,0,1,1,-1,-1,2,26
262,R_ROYtLuakH8DHea5,Set12_a,1,0,0,1,0,1,0,0,0,-1,1,1,2,26
263,R_ROYtLuakH8DHea5,Set12_b,0,-1,-1,-1,0,0,1,0,0,1,1,-1,2,26

In [32]:
merged1.to_csv(folder+"cleaned.csv")